body {
    font-family: Arial;
    background: #e8f5e9;
    padding: 20px;
}

.profile {
    width: 120px;
    border-radius: 50%;
}

button {
    margin: 5px;
    padding: 8px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

input, textarea {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}
