body {
    font-family: Arial;
    background: #ffebee;
    padding: 20px;
}

.profile {
    width: 100px;
    border-radius: 50%;
}

button {
    margin: 5px;
    padding: 8px;
}

li {
    margin: 5px 0;
}
