.error {
    color: red;
    font-size: 14px;
}

#successMessage {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    width: 250px;
    padding: 5px;
    margin-bottom: 5px;
}
